<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061747347297-qn3jjrcnovjl5q2d5fuoe2pv9ncdr1tt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061747347297-qn3jjrcnovjl5q2d5fuoe2pv9ncdr1tt</string>
	<key>API_KEY</key>
	<string>AIzaSyAN6ugL97rtTA1V23aM9-Ig7L6O2cN81IA</string>
	<key>GCM_SENDER_ID</key>
	<string>1061747347297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>client.example.native.reactjs.org</string>
	<key>PROJECT_ID</key>
	<string>mechanic-repair-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mechanic-repair-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061747347297:ios:462cb09399e8fc9bc37f20</string>
</dict>
</plist>